body {
  background: #ddd;
}
.counter-box {
  width: 484px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header {
  padding: 12px;
  text-align: center;
  justify-content: center;
  position: relative;
  background-color: #0e0c32;
}
#header h2 {
  font-size: 18px;
  color: #fff;
}
#header .reset {
  border: 1px solid #fff;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  padding: 8px 12px;
  background: none;
  color: #fff;
}
#title {
  width: 100%;
  background-color: #0e0c32;
  text-align: center;
  color: #fff;
  padding: 3px 0;
  font-size: 9px;
}
#boxes {
  display: flex;
  border-bottom: 1px solid #0e0c32;
  flex-wrap: wrap;
}
#boxes .box {
  width: 50%;
}
#boxes .box h3 {
  text-align: center;
  font-weight: normal;
  margin-top: 12px;
}
#boxes .box .score {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin: 24px 0;
}
#boxes .box:first-of-type {
  border-right: 1px solid #0e0c32;
}
#boxes ul.box {
  display: flex;
}
#boxes .box .user {
  width: 50%;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
#boxes .box .user .name {
  width: 100%;
  padding: 20px;
}

#boxes .box .user ul {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5ab2ff;
  display: none;
}
#boxes .box .user ul {
  /* display: flex; */
  display: none;
}
#boxes .box .user.active ul {
  display: flex;
}
#boxes .box .user ul li {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0e0c32;
}
#boxes .box .user .is-success {
  display: none;
}
#boxes .box .user.active .is-success {
  display: block;
  width: 100%;
  position: absolute;
  background: red;
  top: 100%;
  left: 0;
  padding: 7px 0;
}
#boxes .box .user .is-success {
}
#boxes .box .user ul li.active {
  background: #2a6192;
  color: white;
}
#boxes .box .round-point {
  border: none;
  width: calc(100% - 24px);
  padding: 12px 8px;
  margin: 8px 12px;
  text-align: center;
  box-sizing: border-box;
}
#history {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}
#history .no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#history .scores {
  height: calc(100% - 18px);
}
#history .histories {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#history .histories li {
  display: flex;
  border-bottom: 1px solid #000;
  position: relative;
}
#history .histories .round span {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
#history .histories .round div {
  width: 50%;
  text-align: center;
  padding: 12px 0;
  font-size: 24px;
}
#history .histories .round button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 20px;
  border: 0;
  background: none;
}
#boxes .box li:first-of-type {
  border-right: 1px solid #ddd;
}
#save {
  border: none;
  background: #0e0c32;
  color: white;
  font-size: 24px;
  margin: 0;
  width: 100%;
  padding: 20px 0;
}
@media (max-width: 500px) {
  .counter-box {
    width: 100%;
    height: 100%;
  }
}
